* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    scrollbar-width: none;
    background-color: black;
}

body {
    font-family: Open Sans ,sans-serif;
    font-weight: 500;
    background: url('./images/andras-vas-Bd7gNnWJBkU-unsplash.png');
    background-size: cover;
}

a {
    text-decoration: none;
    color: white;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5rem;
    background: transparent;
    backdrop-filter: blur(50px);
    z-index: 100;
}

.logo {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.8rem;
    letter-spacing: -1px;
    color: white;
}

.logo {
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.5rem;
    font-size: 5rem;
}


.menu {
    font-size: 2rem;
    margin-right: auto;
}

.menu > a {
    padding-left: 3rem;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.landingpage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    width: 60%;
    height: 100vh;
}

.landingpage > h1 {
    font-size: 5rem;
}
.landingpage > p {
    font-size: 2rem;
}

.content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 1rem;
}

.team {
    flex: 1;
}

.team > p {
    padding-bottom: 1rem;
}

.company {
    flex: 1;
    text-align: right;
}

.company > p {
    padding-bottom: 1rem;
}

.title {
    font-size: 3.6rem;
    font-weight:bolder;
}

.description {
    font-size: 2rem;
    font-weight: lighter;
}

footer {
    backdrop-filter: blur(2px);
    color: white;
    background-color: black;
}
.footer {
    width: 100vw;
    padding: 5px;
}
.footer > p {
    font-size: 2rem;
    width: 100vw;
} 

/* jobs.html */
.jd {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    scrollbar-width: none;
}

section {
    height: 100vh;
    width: 100vw;
    color: white;
    backdrop-filter: blur(10px);
}

.aside {
    width: 25%;
    float: right;
    border: 2px solid white;
    border-radius: 1rem;
    padding: 1.5rem;
    margin-right: 4rem;
    font-size: 2rem;
}

.ds, .wd {
    margin-left: 5rem;
    margin-right: 1rem;
    width: 75%;
    float: left;
}

.ds, .wd > p {
    font-size: 2rem;
}
.jobtitle {
    font-size: 4rem;
}

.subtitle {
    font-size: 2.5rem;
}

.jobdescription {
    font-size: 2rem;
}

.bulletpoint {
    font-size: 1.7rem;
    margin-left: 2rem;
}
/* button animation */
.button {
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    cursor: pointer;
    --primary-color: white;
    --hovered-color: white;
    position: relative;
    display: flex;
    font-weight: 600;
    font-size: 20px;
    align-items: center;
    color: white;
    display: inline-block;
}

.button::after {
    position: absolute;
    content: "";
    width: 0;
    left: 0;
    bottom: -7px;
    background: var(--hovered-color);
    height: 2px;
    transition: 0.3s ease-out;
}

.button:hover::after {
    width: 100%;
}

/* responsive */
@media screen and (min-width: 200px) and (max-width: 500px) {
    .navbar .menu a {
        margin-left: 0;
        margin-right: auto;
        margin-top: 1rem;
    }

    .logo {
        margin-left: 1.5rem;
        font-size: 3rem;
    }

    .menu {
        font-size: 1.3rem;
        margin-left: auto;
        margin-right: 0.5rem;
        margin-top: 0.5rem;
    }

    
    .main {
        flex-direction: column;
    }
    
    .landingpage > h1 {
        font-size: 3rem;
    }

    .landingpage > p {
        font-size: 1.2rem;
    }
    
    .team, .company {
        width: 100%;
    }

    .title {
        font-size: 1.7rem;
        font-weight: bolder;
    }
    
    .description {
        font-size: 1.3rem;
        font-weight: lighter;
    }

    .button {
        font-size: 1rem;
    }

    .aside {
        width: 25%;
        float: right;
        border: 2px solid white;
        border-radius: 1rem;
        font-size: 7px;
        margin-right: 10px;
        padding: 5px;
    }
    
    .ds {
        width: 75%;
        float: left;
        margin-left: 20px;
    }
    
    .ds > p {
        font-size: 9px;
    }
    .jobtitle {
        font-size: 1.5rem;
    }
    
    .subtitle {
        font-size: 10px;
    }
    
    .jobdescription {
        font-size: 9px;
    }
    
    .bulletpoint {
        font-size: 7px;
    }
}

@media screen and (min-width: 500px) and (max-width: 850px) {
    .logo {
        margin-left: 1.5rem;
        font-size: 3.5rem;
    }

    .menu {
        font-size: 1.5rem;
        margin-right: 1.5rem;
        margin-top: 0.5rem;
    }

    
    .main {
        flex-direction: column;
    }
    
    .landingpage > h1 {
        font-size: 3.5rem;
    }

    .landingpage > p {
        font-size: 1.3rem;
    }
    
    .team, .company {
        width: 100%;
    }

    .title {
        font-size: 2rem;
        font-weight: bolder;
    }
    
    .description {
        font-size: 1.5rem;
        font-weight: lighter;
    }

    .button {
        font-size: 1.3rem;
    }

    .aside {
        width: 25%;
        float: right;
        border: 2px solid white;
        border-radius: 1rem;
        font-size: 10px;
        margin-right: 10px;
        padding: 5px;
    }
    
    .ds {
        width: 75%;
        float: left;
        margin-left: 20px;
    }
    
    .ds > p {
        font-size: 13px;
    }

    .jobtitle {
        font-size: 1.8rem;
    }
    
    .subtitle {
        font-size: 13px;
    }
    
    .jobdescription {
        font-size: 12px;
    }
    
    .bulletpoint {
        font-size: 10px;
    }
}

@media screen and (min-width: 850px) and (max-width: 1100px) {
    .aside {
        width: 25%;
        float: right;
        border: 2px solid white;
        border-radius: 1rem;
        font-size: 15px;
        margin-right: 10px;
        padding: 5px;
    }
    
    .ds {
        width: 75%;
        float: left;
        margin-left: 20px;
    }
    
    .ds > p {
        font-size: 15px;
    }

    .jobtitle {
        font-size: 2rem;
    }
    
    .subtitle {
        font-size: 15px;
    }
    
    .jobdescription {
        font-size: 14px;
    }
    
    .bulletpoint {
        font-size: 12px;
    }
}